#include <windows.h>

#define IDD_INPUT_DIALOG 101
#define IDC_EDIT_A 1001
#define IDC_EDIT_B 1002

IDD_INPUT_DIALOG DIALOGEX 0, 0, 180, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter Values"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT       "Value A:", -1, 10, 10, 50, 10
EDITTEXT    IDC_EDIT_A, 70, 8, 80, 12, ES_NUMBER | WS_BORDER

LTEXT       "Value B:", -1, 10, 30, 50, 10
EDITTEXT    IDC_EDIT_B, 70, 28, 80, 12, ES_NUMBER | WS_BORDER

DEFPUSHBUTTON "OK", IDOK, 30, 55, 50, 14
PUSHBUTTON    "Cancel", IDCANCEL, 95, 55, 50, 14
END